//  *{ 	
//   box-sizing: border-box;
//   list-style: none;	
//   text-decoration: none;	
// }	

.Ahead{
width: 1440px;
height: 768px;
margin: auto;
flex-shrink: 0;
background-color:#434CCC;
}
.Ahead1{
    width: 1140px;
    height:80px;
}
.Ahead1>.Anavbar {
        max-width: 1440px;
        height: 80px;
        background-color: #434ccc;
        display: flex;
        align-items: center;
     } 
     .Anavbar img {
      width: 95px;
      height: 28px;
      position: absolute;
      margin-left: 135px;
      }
      .Anavbar>.Aportfolio {
        width: 324px;
        height: 24px;
        position: absolute;
        left: 771px;
        display: flex;
        justify-content: space-between;
      }
      .Aportfolio a {
        font-family: "DM Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: right;
        color: #ffffff;
        text-decoration: none;
      }
      .Anavbtn {
        font-family: "DM Sans", sans-serif;
        width: 170px;
        height: 48px;
        font-weight: 400;
        font-size: 16px;
        border-radius: 1px;
        position: absolute;
        margin-left: 1135px;
        letter-spacing: 0px;
        text-align: center;
        border: 1px solid #ffffff4d;
        background-color: #434ccc;
        color: #ffffff;
      } 
      .Ahead2{
         width: 1170px;
         height:515px;
         display: flex;
         margin-left: 135px;
         /* background-color: red; */
         /* border: 1px solid black; */
      }
      .Apart1{
        height:510px;
        width: 515px;
        /* background-color: black; */
      } 
      .Apart1 h5{
        color: var(--Text_White, #FFF);
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; 
        letter-spacing: 4.8px;
        text-transform: uppercase;
        padding-top: 79px;
      }
      .Apart1 h1{
        color: var(--Text_White, #FFF);
        font-family: DM Serif Display;
        font-size: 72px;
        font-style: normal;
        font-weight: 400;
        line-height: 80px; 
        padding-top:24px;
      }
      .Apart1 p{
        color: var(--Text_White, #FFF);
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; 
        padding-top: 32px;
      }
      .Apart1>div{
        padding-top: 41px;
      }
      .Apart1>div>.Abtn{
        color: #FFF;
        text-align: center;
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; 
        width: 170px;
        height: 48px;
        flex-shrink: 0;
        border-radius: 5px;
        background: var(--Primary_2, #F1B505);
      }
  
      .Apart2{
        width:655px ;
        height: 515px;
        /* border:1px solid red ; */
        padding-top: 110px;
      }
       .Apart2 img{
        width: 150%;
        height: 650px;
        position: relative;
        top: -100px;
        right: 190px;
      } 
 
 
 
      /* div2 */
.Amid{
width: 1440px;
height: 768px;
margin: auto;
flex-shrink: 0;
background-color: #FFDD78;
}
.Afirst h2{
color: var(--Text_Black, #000);
text-align: center;
padding-top: 60px;
font-family: DM Serif Display;
font-size: 56px;
font-style: normal;
font-weight: 400;
line-height: 64px; 
}
.Afirst p{
padding-top:25px ;
color: var(--Text_Black, #000);
text-align: center;


font-family: DM Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
}
.Asec{
width: 1440px;
margin: auto;
display: flex;
flex-wrap: wrap;
margin-left: 135px;
gap:30px;
 /* justify-content: space-evenly; */
padding-top: 40px;
}
.Asec>.Acard{
width: 370px;
height: 416px;
flex-shrink: 0;
 
border-radius: 5px;
background: #FFF;
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.30);
}

.Acard>div{
padding-top: 64px; 
padding-left: 119px;  
 
}
.Acard>div img{
width: 132px;
height: 114px;
flex-shrink: 0;


}
.Acard h4{
color: var(--Text_Black, #000);
padding-top: 45px;
padding-left: 30px;
/* H4 */
font-family: DM Serif Display;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
}
.Acard p{
color:gray;
font-family: DM Sans;
font-size: 16px;
padding-top: 15px;
padding-left: 32px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
}
.Acard>.Adiv2{
padding-left: 32px;
padding-top: 15px;   
}
.Aline{
width: 338px;
height: 1px;
flex-shrink: 0;
opacity: 0.1011;
background: #000;
display: inline-block;

}
.Acard> h6{
 color: var(--Text_Black, #000);
padding-top: 14px;
padding-left: 32px;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; 
}
.Alast{
    width: 1440px;
    height: 1328px;
    flex-shrink: 0; 
    margin: auto;
    background-color:whitesmoke
}

