
//   Supriya

.shcontainer{
    width: 1440px;
    height: 768px;
    flex-shrink: 0;
    background-color:#434ccc;
    padding-top: 79px;
    margin: auto;
    h5{
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: 4.8px;
        text-transform: uppercase;
        color: var(--Text_White, #FFF);
        text-align: center;
    }
    h2{
        color: var(--Text_White, #FFF);
        text-align: center;
        font-family: DM Serif Display;
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: 64px;
        margin-top: 21px;
    }
    p{
        color: var(--Text_White, #FFF);
        text-align: center;
        font-family: DM Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 160% */
        width: 570px;
        height: 83px;
        margin: 29px 435px 0px 435px;
    }

    .overlap{
        width: 1170px;
        height: 512px;
        margin: 52px 135px 0px 135px;
        display: flex;
        .overimg{
            background-image: url("Image/lady.png");
            width: 1200px;
            height: 600px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            p{
                text-align: start;
                margin-top: 111px;
                margin-left: 135px;
               color: white;
               font-family: DM Sans;
               font-size: 16px;
               font-style: normal;
               font-weight: 400;
               line-height: 24px; /* 150% */
               
           }
            h2{
                text-align: start;
                margin-left: 135px;
                margin-top: -25px;
               color: var(--Text_White, #FFF);
               font-family: DM Serif Display;
               font-size: 56px;
               font-style: normal;
               font-weight: 400;
               line-height: 64px; /* 114.286% */
               width: 370px;
            }
            img{
                // position: relative;
                width: 1200px;
                height: 800px;
                flex-shrink: 0;
                 object-fit: cover;
                 overflow: hidden;
                 border-radius: 5px;
            }
            button{
                margin-left: 135px;
                margin-top: 36px;
                width: 170px;
                height: 48px;
                flex-shrink: 0;
                background: none;
                border: 1px solid white;
                color: white;
            }
            
        }
        
    }
    .shcards{
        margin-top: -16px;
        width: 1440px;
        height: 760px;
        flex-shrink: 0;
        // background-color: #434ccc;
        display: flex;
        gap: 31px;
         .shcard{
            width: 570px;
            height: 512px;
            background-color: brown;
            margin-top: 128px;
            border-radius: 5px;
            p{
                text-align: start;
                color: white;
                font-family: DM Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                margin-left: 91px;
                margin-top: 79px;
            }
            h4{
                font-family: DM Serif Display;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px; 
                margin-left: 91px;
                width: 161px;
                height: 96px;
                margin-top: -40px;
                color: white;
            }
            button{
                margin-left: 91px;
                border: 1px solid white;
                width: 48px;
                height: 48px;
                flex-shrink: 0;
                margin-top: 24px;
                background: none;
                border-radius: 5px;
            }
         }
         #sh1{
            margin-left: 135px;
            background-image: url("Image/statue.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
         }
         #sh2{
            background-image: url("Image/dog.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            h4{
                width: 147px;
            }
         }
    }
    #bt{
        margin-left: 635px;
        width: 170px;
        height: 48px;
        border-radius: 5px;
        background: none;
        border: 0.5px solid #434ccc;
        margin-top: -20px;
     }

}


//   End
.main{
    display: flex;
    flex-direction: column;
    width: 1440px;
    margin: auto;
    margin-top: 800px;
   
   }
   .first{
       display: flex;
       .image{
           width: 50%;
       }
       .text{
           padding: 50px;
           .sec{
               display: flex;
           }
           h2{
               font-size: 56px;
               font-style: normal;
               font-weight: 400;
               line-height: 64px;
               width: 453px;
               height: 128px;
               margin-top: 150px;
           }
           p{
               font-size: 20px;
               font-style: normal;
               font-weight: 400;
               line-height: 32px; 
           }
           .sec1{
               margin-top: 26px;
           }
           .sec2{
               margin-top: 26px;
           }
       }
   }
   
   .second{
       display: flex;
           .text{
               width: 50%;
               background-color: #434ccc;
               color: white;
               
              span{
               font-size: 16px;
               font-style: normal;
               font-weight: 400;
               line-height: 24px; /* 150% */
               letter-spacing: 4.8px;
               text-transform: uppercase;
               margin-left: 135px;
                h5{
                   margin-top: 64px;
                   margin-left: 135px;
                }
              }
              h1{
               font-size: 56px;
               font-style: normal;
               font-weight: 400;
               line-height: 64px;
               width: 331px;
               margin-top: 21px;
               margin-left: 135px;
               
             }
              p{
                   font-size: 20px;
                   font-style: normal;
                   font-weight: 400;
                   line-height: 32px;
                   width: 470px;
                   height: 103px;
                   margin-top: 29px;
                   margin-left: 135px;
               }
               button{
                   background-color:#f1b505;
                   color: white;
                   width: 170px;
                   height: 48px;
                   flex-shrink: 0;
                   border: none;
                   border-radius: 5px;
                   margin-top: 32px;
                   margin-bottom: 64px;
                   margin-left: 135px;
               }
   
           }
   }
   
   .third{
       h5{
               margin-top: 63px;
               text-align: center;
               font-size: 16px;
               font-style: normal;
               font-weight: 400;
               line-height: 24px;
               letter-spacing: 4.8px;
               text-transform: uppercase;
           }
           h2{
                margin-top: 21px;
               text-align: center;
               font-size: 56px;
               font-style: normal;
               font-weight: 400;
               line-height: 64px;
       
           }
           p{
               margin-top: 29px;
               text-align: center;
               font-size: 20px;
               font-style: normal;
               font-weight: 400;
               line-height: 32px;
               margin-bottom: 36px;
               
           }
           .cards{
               display: flex;
               column-gap: 30px;
               .card1{
                   margin-left: 135px;
               }
               .card{
                   width: 370px;
                   height: 480px;
                   flex-shrink: 0;
                   background-color: white;
                   // margin: 0 auto;
                   box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.30);
                   img{
                       border-radius: 50%;
                       margin: 23px 23px 0px 32px;
                   }
                   h4{
                       font-size: 24px;
                       font-style: normal;
                       font-weight: 400;
                       line-height: 32px;
                       margin-left: 32px;
                       margin-top: 18px;
                   }
                   hr{
                       background: black;
                       width: 338px;
                       height: 1px;
                       opacity: 0.1011;
                       margin-top: 24px;
                   }
                   p{
                       text-align: start;
                       margin: 18px 0px 23px 32px;
                   }
                   .detail{
                       display: flex;
                       img{
                           width: 18px;
                           height: 18px;
                           flex-shrink: 0;
                           margin-left: 23px;
                           margin-top: 25px;
                       }
                       .fb{
                           margin-left: 174px;
                       }
                       .tw ,.insta{
                           margin-left: -13px;
                       }
                   }
               }
           }
   
   }
   
   .fourth{
       h5{
           text-align: center;
           font-size: 16px;
           font-style: normal;
           font-weight: 400;
           line-height: 24px; /* 150% */
           letter-spacing: 4.8px;
           text-transform: uppercase;
           margin-top: 95px;
       }
       h2{
           text-align: center;
           font-size: 56px;
           font-style: normal;
           font-weight: 400;
           line-height: 64px;
           margin-top: 21px;
       }
       p{
           text-align: center;
           font-size: 20px;
           font-style: normal;
           font-weight: 400;
           line-height: 32px;
           margin-top: 29px;
       }
       .boxes{
           display: grid;
           grid-template-columns: repeat(3,1fr);
           gap: 30px;
           margin-top: 52px;
           padding-left: 20px;
           padding-right: 20px;
           padding-bottom: 112px;
           .box{
               height: 144px;
               border-radius: 5px;
               background: white;
               box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.30);
               display: flex;
               img{
                   margin-top: 32px;
                   margin-left: 32px;
                   margin-right: 25px;
                   width: 43px;
                   height: 49px;
                   flex-shrink: 0;
               }
               .text{
                   width: 238px;
                   height: 65px;
                   flex-shrink: 0;
                   h4{
                       font-size: 24px;
                       font-style: normal;
                       font-weight: 400;
                       line-height: 32px;
                       margin-top: 32px;
                   }
                   p{
                       color: var(--text-black-50, rgba(0, 0, 0, 0.50));
                       font-style: normal;
                       font-weight: 400;
                       line-height: 24px;
                       margin-top: 7px;
                   }
               }
           }
       }
   
   }
   
    //   Responsiveness
   
   @media screen and (max-width: 370px) {
       .main{
           display: flex;
           flex-direction: column;
           width: 100%;
       }
       .first{
           display:flex;
           flex-direction: column;  
           width: 100%;
           .image{
               width: 100%;
               img{
                   width: 100%;
                   height: auto;
               }
           }
           .text{
               margin-top: -150px;
               .sec{
                   display: flex;
                   flex-direction: column;
                   flex-wrap: wrap;
               }
               h2{
                   font-size: 40px;
                   font-style: normal;
                   font-weight: 400;
                   line-height: 48px; 
                   width: 323px;
                   height: 96px;
                   margin-top: 150px;
                   overflow: hidden;
                   object-fit: cover;
               }
               p{
                   font-size: 16px;
                   font-style: normal;
                   font-weight: 400;
                   line-height: 24px
               }
           }
       }
       .second{
           display: flex;
           flex-direction: column;
            flex-wrap: wrap;
            
           .text{
               width: 100%;
               height: auto;
               h1{
                   margin-left: 14px;
                   font-size: 20px;
                   font-style: normal;
                   font-weight: 400;
                   line-height: 32px; /* 160% */
                   width: 100%;
                   height: auto;
   
               }
               p{
                   margin-left: 14px;
                   margin-right: 15px;
                   width: 100%;
                   height: auto;
               }
               span{
                   h5{
                       margin-left: 14px;
                       width: 100%;
                       height: auto;
                   }
               }
               button{
                   margin-left: 14px;
               }
               
           }
           .image{
               img{
                   width: 100%;
                   height: auto;
               }
           }
       }
   
       .third{
           .cards{
               display: flex;
               flex-direction: column;
               width: 100%;
               row-gap: 20px;
               .card1{
                   margin:0;
               }
               .card{
                   width: 100%;
                   height: auto;
                   img{
                       border-radius: 50%;
                       width:80%;
                       height: auto;
                       margin:25px 23px 0px 23px;
                   }
   
                   .detail{
                       img{
                           width: 18px;
                           height: 18px;
                           flex-shrink: 0;
                       }
                       .fb{
                           margin-left: 130px;
                       }
                   }
               }
           }
       }
   
       .fourth{
           width: 100%;
           .boxes{
               display: grid;
               grid-template-columns: repeat(1,1fr);
               .box{
                   .text{
                       height: auto;
   
                   }
               }
           }
       }
       .shcontainer{
        width: 100%;

        h5{
            margin: 0;
            width: 100%;
            height: auto;
        }
        h2{
            margin: 0;
            text-align: center;
            width: 100%;
            height: auto;
            
        }
        p{
            margin: 0;
            text-align: center;
            width: 100%;
            height: auto;
        }

        .overlap{
            width: 100%;
            background-size: cover;
            
            .overimg{
                margin-left:-135px;
                width:100%;
                height: auto;
                background-size: cover;
                p{
                    margin: 0;
                    text-align: start;
                    margin-left: 50px;
                    width: 100%;
                    height: auto;  
                   
               }
                h2{
                    margin: 0;
                    text-align: start;
                    margin-left: 50px;
                    width: 100%;
                    height: auto;
                }
                img{
                    // position: relative;
                    width: 1200px;
                    height: 800px;
                    flex-shrink: 0;
                     object-fit: cover;
                     overflow: hidden;
                     border-radius: 5px;
                }
                button{
                   margin-left: 50px;
                    
                }
                
            }
            
        }
        .shcards{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0;

            .shcard{
                width: 100%;
                height: auto;
                p{
                    margin-left: 30px;
                    margin-top: 30px;
                    text-align: start;
                    width: 100%;
                    height: 200px;     
               }
               h4{
                margin-top: -160px;
                margin-left: 30px;
                
               }
               button{
                 margin-left: 30px;
                 margin-bottom: 20px;
               }
            }
            #sh1{
                margin: 0;
                margin-top: 10px;
                width: 100%;
                height: auto;
                background-size: cover;
            }
            #sh2{
                margin-top: -20px;
                width: 100%;
                height: auto;
            }
        }


    }
   
   }