* {
  margin: 0;
  padding: 0;
}

.Ahead {
  width: 1440px;
  height: 768px;
  margin: auto;
  flex-shrink: 0;
  background-color: #434CCC;
}

.Ahead1 {
  width: 1140px;
  height: 80px;
}

.Ahead1 > .Anavbar {
  max-width: 1440px;
  height: 80px;
  background-color: #434ccc;
  display: flex;
  align-items: center;
}

.Anavbar img {
  width: 95px;
  height: 28px;
  position: absolute;
  margin-left: 135px;
}

.Anavbar > .Aport {
  width: 324px;
  height: 24px;
  position: absolute;
  left: 771px;
  display: flex;
  justify-content: space-between;
}

.Aport a {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
}

.Anavbtn {
  font-family: "DM Sans", sans-serif;
  width: 170px;
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  border-radius: 1px;
  position: absolute;
  margin-left: 1135px;
  letter-spacing: 0px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  background-color: #434ccc;
  color: #ffffff;
}

.Anhiddenmenu {
  display: none;
  width: 20px;
  height: 14px;
  position: relative;
  top: 24px;
  left: 340px;
}

.Ahead2 {
  width: 1440px;
  height: 515px;
  display: flex;
  margin-left: 135px;
  /* background-color: red; */
  /* border: 1px solid black; */
}

.Apart1 {
  height: 510px;
  width: 515px;
  /* background-color: red; */
}

.Apart1 h5 {
  color: var(--Text_White, #FFF);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  padding-top: 79px;
}

.Apart1 h1 {
  color: var(--Text_White, #FFF);
  font-family: DM Serif Display;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  padding-top: 24px;
}

.Apart1 p {
  color: var(--Text_White, #FFF);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  padding-top: 32px;
}

.Apart1 > div {
  padding-top: 41px;
}

.Apart1 > div > .A {
  color: #FFF;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--Primary_2, #F1B505);
}

.Apart2 {
  width: 655px;
  height: 515px;
  /* border:1px solid red ; */
  padding-top: 110px;
  /* border:1px sold black; */
  /* background-color: black; */
}

.Apart2 img {
  width: 150%;
  height: 650px;
  position: relative;
  top: -100px;
  right: 190px;
}

/* div2 */
.Amid {
  width: 1440px;
  height: 768px;
  margin: auto;
  flex-shrink: 0;
  background-color: #FFDD78;
}

.Afirst h2 {
  color: var(--Text_Black, #000);
  text-align: center;
  padding-top: 60px;
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
}

.Afirst p {
  padding-top: 25px;
  color: var(--Text_Black, #000);
  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.Asec {
  width: 1440px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-left: 135px;
  gap: 30px;
  /* justify-content: space-evenly; */
  padding-top: 40px;
}

.Asec > .Acard {
  width: 370px;
  height: 416px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.Acard > div {
  padding-top: 64px;
  padding-left: 119px;
}

.Acard > div img {
  width: 132px;
  height: 114px;
  flex-shrink: 0;
}

.Acard h4 {
  color: var(--Text_Black, #000);
  padding-top: 45px;
  padding-left: 34px;
  /* H4 */
  font-family: DM Serif Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.Acard p {
  color: gray;
  font-family: DM Sans;
  font-size: 16px;
  padding-top: 20px;
  padding-left: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.Acard > .Adiv2 {
  padding-left: 32px;
  padding-top: 15px;
}

.Aline {
  width: 338px;
  height: 1px;
  flex-shrink: 0;
  opacity: 0.1011;
  background: #000;
  display: inline-block;
}

.Acard > h6 {
  color: var(--Text_Black, #000);
  padding-top: 14px;
  padding-left: 32px;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.Alast {
  width: 1440px;
  height: 1328px;
  flex-shrink: 0;
  margin: auto;
  background-color: whitesmoke;
}

.Alast1 {
  width: 1440px;
  height: 263px;
  /* border: 1px dotted red; */
}

.Alast1 h5 {
  color: var(--Text_Black, #000);
  text-align: center;
  padding-top: 63px;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

.Alast1 h2 {
  color: var(--Text_Black, #000);
  text-align: center;
  padding-top: 10px;
  /* H2 */
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
}

.Alast1 p {
  color: var(--Text_Black, #000);
  text-align: center;
  padding-top: 20px;
  /* Text_Big */
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.Alast2 {
  /* margin-left: 135px;
  margin-right: 135px;  */
  margin: auto;
  width: 1440px;
  height: 1044px;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
  grid-template-rows: repeat(2, 1fr);
}

.Aitem {
  width: 720px;
  text-align: left;
  padding: 20px;
  font-size: 1.2em;
  /* border: 1px solid black; */
}

.Aitem h3 {
  color: var(--Text_Black, #000);
  padding-top: 90px;
  /* H3 */
  right: -50px;
  font-family: DM Serif Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 120% */
}

.Aitem p {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  padding-top: 37px;
  /* Text_Gray */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.Aitem h6 {
  color: var(--Text_Black, #000);
  padding-top: 37px;
  /* Text */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.Aitem > .Aimgl1 {
  padding-left: 90px;
}

.Aitem > .Ap2 {
  margin-left: 235px;
}

.Alast2 > div:nth-child(4) {
  /* background-color: red; */
  width: 640px;
  height: 456px;
  margin-right: 100px;
}

.Aitem > .Aimgl2 {
  width: 600px;
  position: relative;
  left: -50px;
  /* margin-right:135px; */
  /* object-fit: cover; */
}

@media all and (max-width: 375px) {
  .Ahead {
    height: 768px;
    margin-left: -125px;
  }
  .Anavbar {
    width: 375px;
    height: 64px;
  }
  .Anavbar img {
    width: 59px;
    height: 24px;
    position: absolute;
    top: 16px;
    left: 14px;
    margin-left: -8px;
  }
  .Aport {
    display: none;
  }
  .Aport a {
    display: none;
  }
  .Anavbtn {
    display: none;
  }
  .Anhiddenmenu {
    display: flex;
    width: 10px;
    /* height: 14px; */
    top: 3px;
    left: 250px;
    position: absolute;
    /* color: white; */
  }
  .Ahead2 {
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }
  .Apart1 {
    width: 100%;
    padding: 10px;
    /* align-items: left; */
  }
  .Apart1 h5 {
    padding-top: 10px;
  }
  .Apart1 h1 {
    font-size: 36px;
    line-height: 40px;
    padding-top: 10px;
  }
  .Apart1 p {
    font-size: 16px;
    line-height: 24px;
    padding-top: 10px;
  }
  .Apart1 > div {
    padding-top: 10px;
  }
  .Apart1 > div > .Abtn {
    width: 170px;
  }
  .Apart2 {
    width: 537px;
    height: 358px;
    top: 431px;
    left: -80px;
    bottom: 500px;
  }
  .Apart2 img {
    width: 470px;
    height: 358px;
    /* top:-20px; */
    bottom: 20px;
    left: -550px;
  }
  .Amid {
    margin-left: -105px;
    /* width: 100%; */
    flex-shrink: 0;
    background-color: #FFDD78;
    /* margin: 0; */
    height: 1400px;
  }
  .Afirst {
    margin-left: -800px;
    text-align: start;
  }
  .Afirst h2 {
    top: 0;
    text-align: center;
    font-size: 28px;
    line-height: 36px;
    padding-top: 30px;
    margin-left: -60px;
  }
  .Afirst p {
    text-align: center;
    /* margin */
    font-size: 12px;
    line-height: 22px;
    padding-top: 15px;
    margin-left: -65px;
  }
  .Asec {
    width: 300px;
    height: 1000px;
    top: 1040px;
    /* left: 14px; */
    padding: 10px;
  }
  .Asec > .Acard {
    width: 112%;
    height: 380px;
    margin-left: -30px;
  }
  .Acard h4 {
    font-size: 20px;
    line-height: 28px;
    padding-top: 20px;
    text-align: center;
  }
  .Acard p {
    font-size: 14px;
    line-height: 20px;
    padding-top: 10px;
    text-align: center;
  }
  .Acard h6 {
    text-align: center;
  }
  .Acard .Adiv2, .Acard h6 {
    padding-top: 10px;
  }
  .Acard .Aline {
    width: 100%;
  }
  .Alast {
    /* height: 1800px; */
    /* margin-left: -800px; */
    /* text-align: left; */
    /* width: 100%; */
    margin-left: -105px;
    /* width: 100%; */
    flex-shrink: 0;
    /* background-color: #FFDD78; */
    /* margin: 0; */
    height: 1550px;
  }
  .Alast > .Alast1 h5 {
    /* margin-left: -600px; */
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3em;
    text-align: left;
    margin-left: 250px;
  }
  .Alast1 h2 {
    font-size: 32px;
    line-height: 40px;
    padding-top: 10px;
    text-align: left;
    margin-left: 200px;
  }
  .Alast1 p {
    font-size: 13px;
    line-height: 22px;
    padding-top: 15px;
    text-align: left;
    margin-left: 110px;
  }
  .Aitem {
    /* width: 100%; */
    margin: 0;
  }
  .Aitem > .Aimgl1 img {
    width: 170%;
    margin-left: 135px;
    margin-top: -70px;
  }
  .Aitem > .Aimgl2 img {
    width: 120%;
    /* margin-left:-470px; */
    margin-top: -100px;
  }
  .Aitem h3 {
    font-size: 24px;
    line-height: 32px;
    padding-top: 20px;
    margin-left: 97px;
  }
  .Aitem p {
    font-size: 14px;
    line-height: 20px;
    padding-top: 10px;
    margin-left: 97px;
  }
  .Aitem h6 {
    padding-top: 10px;
    margin-left: 97px;
  }
  .Aitem > .Aimgl1, .Aitem > .Aimgl2 {
    width: 50%;
    max-width: none;
    margin-left: -280px;
  }
  .Alast2 {
    grid-template-columns: 1fr;
  }
  .Alast2 > div:nth-child(1) {
    order: 1;
  }
  .Alast2 > div:nth-child(2) {
    order: 2;
  }
  .Alast2 > div:nth-child(3) {
    order: 4;
  }
  .Alast2 > div:nth-child(4) {
    order: 3;
    margin-left: -80px;
    /* width: 120%; */
    margin-top: -70px;
  }
  .Aitem > .Ap2 h3 {
    font-size: 24px;
    line-height: 32px;
    padding-top: 20px;
    margin-left: -135px;
    text-align: left;
  }
  .Ap2 p {
    font-size: 14px;
    line-height: 20px;
    padding-top: 10px;
    margin-left: 97px;
    margin-left: -135px;
  }
  .Ap2 h6 {
    padding-top: 10px;
    margin-left: 97px;
    margin-left: -135px;
  }
}
* {
  margin: 0px;
  padding: 0px;
}

.Dfirstboxdee {
  height: 496px;
  width: 1440px;
  background: #434CCC;
  margin: auto;
  display: flex;
  align-items: center;
}
.Dfirstboxdee .Dless_greater_sign {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.Dfirstboxdee .Dless_greater_sign .Dimgbox {
  height: 48px;
  width: 48px;
  border: 1px solid rgb(234, 232, 232);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 152px;
}
.Dfirstboxdee .Dless_greater_sign img {
  height: 21px;
  width: 13px;
}
.Dfirstboxdee .Dladiesimg {
  height: 270px;
  width: 270px;
  margin-left: 132px;
}
.Dfirstboxdee .Dlastdiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 270px;
}
.Dfirstboxdee .Dpara1 {
  height: 24px;
  width: 173px;
  color: #FFFFFF;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3em;
  text-align: left;
  margin-left: 98px;
}
.Dfirstboxdee .Dpara2 {
  margin-left: 98px;
  height: 107px;
  width: 670px;
  font-family: DM Serif Display;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
}
.Dfirstboxdee .Dpara3 {
  margin-left: 98px;
  height: 32px;
  width: 125px;
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
}
.Dfirstboxdee .Dpara4 {
  margin-left: 98px;
  height: 24px;
  width: 53px;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(255, 255, 255, 0.5019607843);
}

.Dbigdiv {
  height: 1904px;
  width: 1440px;
  margin: auto;
}
.Dbigdiv .Dbigdiv_firstbox {
  width: 1440px;
  height: 624px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgb(222, 222, 222);
}
.Dbigdiv .Dbigdiv_firstbox h5 {
  width: 124px;
  height: 23px;
  text-align: center;
  /* H5 */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin-top: 79px;
}
.Dbigdiv .Dbigdiv_firstbox h2 {
  height: 64px;
  width: 329px;
  color: var(--Text_Black, #000);
  text-align: center;
  /* H2 */
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  /* 114.286% */
  margin-top: 21px;
}
.Dbigdiv .Dbigdiv_firstbox p {
  height: 83px;
  width: 570px;
  flex-shrink: 0;
  color: var(--Text_Black, #000);
  text-align: center;
  /* Text_Big */
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 160% */
  margin-top: 29px;
}
.Dbigdiv .Dbigdiv_firstbox button {
  height: 48px;
  width: 170px;
  border: 0.1px solid #8b91ec;
  margin-top: 72px;
  flex-shrink: 0;
  border-radius: 5px;
  color: #434CCC;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  font-family: sans-serif;
  background-color: white;
}
.Dbigdiv .Dbigdiv_firstbox .Dlogos_for_big_Div {
  height: 54px;
  width: 1168px;
  margin-top: 55px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.Dbigdiv .Dbigdiv_firstbox .Dlogos_for_big_Div #Dfacebook {
  height: 35px;
  width: 172px;
}
.Dbigdiv .Dbigdiv_firstbox .Dlogos_for_big_Div #Dgoogle {
  height: 54px;
  width: 164px;
}
.Dbigdiv .Dbigdiv_firstbox .Dlogos_for_big_Div #Dmiddle {
  height: 53px;
  width: 368px;
}
.Dbigdiv .Dbigdiv_firstbox .Dlogos_for_big_Div #Dspotify {
  height: 53px;
  width: 173px;
}
.Dbigdiv .Dbigdiv_firstbox .Dlogos_for_big_Div #Dairbnb {
  height: 53px;
  width: 168px;
}
.Dbigdiv .DSecond_section {
  height: 715px;
  width: 1440;
  border-bottom: 1px solid rgb(222, 222, 222);
}
.Dbigdiv .Dbigdiv_secondbox {
  height: 715px;
  width: 1168px;
  margin: auto;
}
.Dbigdiv .Dbigdiv_secondbox h5 {
  width: 78px;
  height: 24px;
  color: var(--Text_Black, #000);
  /* H5 */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin-top: 62px;
}
.Dbigdiv .Dbigdiv_secondbox .Dinnersecondbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Dbigdiv .Dbigdiv_secondbox .Dinnersecondbox h2 {
  height: 64px;
  width: 396px;
  color: var(--Text_Black, #000);
  /* H2 */
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  /* 114.286% */
  margin-top: 21px;
}
.Dbigdiv .Dbigdiv_secondbox .Dinnersecondbox button {
  height: 48px;
  width: 170px;
  flex-shrink: 0;
  border-radius: 5px;
  color: #434CCC;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  font-family: sans-serif;
}
.Dbigdiv .Dbigdiv_secondbox .Dflexbox {
  height: 480px;
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
}
.Dbigdiv .Dbigdiv_secondbox .Dflexbox .Dflexboxchild1 {
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  height: 500px;
  width: 570px;
}
.Dbigdiv .Dbigdiv_secondbox .Dflexbox .Dflexboxchild1 > img {
  height: 300px;
  width: 519px;
  border: 2px solid green;
  margin-left: 25px;
  margin-top: 24px;
  flex-shrink: 0;
}
.Dbigdiv .Dbigdiv_secondbox .Dflexbox .Dflexboxchild1 > p {
  height: 24px;
  width: 93px;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  margin-left: 25px;
  margin-top: 17px;
}
.Dbigdiv .Dbigdiv_secondbox .Dflexbox .Dflexboxchild1 > h4 {
  height: 32px;
  width: 320px;
  margin-left: 25px;
  margin-top: 17px;
  color: var(--Text_Black, #000);
  /* H4 */
  font-family: serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
  /* 133.333% */
}
.Dbigdiv .Dbigdiv_secondbox .Dflexbox .Dflexboxchild1 > hr {
  margin-left: 25px;
  margin-top: 17px;
}
.Dbigdiv .Dbigdiv_secondbox .Dflexbox .Dflexboxchild2 {
  height: 500px;
  width: 570px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
.Dbigdiv .Dbigdiv_secondbox .Dflexbox .Dflexboxchild2 > img {
  height: 300px;
  width: 519px;
  border: 2px solid green;
  margin-left: 25px;
  margin-top: 24px;
  flex-shrink: 0;
}
.Dbigdiv .Dbigdiv_secondbox .Dflexbox .Dflexboxchild2 > p {
  height: 24px;
  width: 93px;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  margin-left: 25px;
  margin-top: 17px;
}
.Dbigdiv .Dbigdiv_secondbox .Dflexbox .Dflexboxchild2 > h4 {
  height: 32px;
  width: 320px;
  margin-left: 25px;
  margin-top: 17px;
  color: var(--Text_Black, #000);
  /* H4 */
  font-family: serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
  /* 133.333% */
}
.Dbigdiv .Dbigdiv_secondbox .Dflexbox .Dflexboxchild2 > hr {
  margin-left: 25px;
  margin-top: 17px;
}
.Dbigdiv .Dbigdiv_secondbox .Dflexbox .Dsecond_box {
  display: flex;
  align-items: center;
}
.Dbigdiv .Dbigdiv_secondbox .Dflexbox .Dsecond_box > p {
  height: 24px;
  width: 88px;
  margin-left: 25px;
  color: var(--Text_Black, #000);
  /* Text */
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  /* 150% */
  margin-top: 18px;
}
.Dbigdiv .Dbigdiv_secondbox .Dflexbox .Dsecond_box > img {
  height: 11px;
  width: 6px;
  flex-shrink: 0;
  color: #000000;
  margin-top: 3px;
  margin-left: 7px;
  margin-top: 18px;
}

.Dlastsection_of_todays-work {
  height: 494px;
  width: 1168px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Dlastsection_of_todays-work .Dgrid {
  height: 272px;
  width: 1168px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.Dlastsection_of_todays-work #Dgridbox1 h5 {
  height: 24px;
  width: 92px;
  color: #000000;
  /* H5 */
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
.Dlastsection_of_todays-work #Dgridbox1 h4 {
  height: 96px;
  width: 275px;
  color: #000000;
  /* H4 */
  font-family: sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  /* 133.333% */
  margin-top: 33px;
}
.Dlastsection_of_todays-work #Dgridbox1 .Dgirdboxinsta {
  display: flex;
  align-items: center;
}
.Dlastsection_of_todays-work #Dgridbox1 .Dgirdboxinsta p {
  margin-top: 53px;
  margin-left: 20px;
}
.Dlastsection_of_todays-work #Dgridbox1 .Dgirdboxinsta .Dinstagram_img {
  height: 48px;
  width: 48px;
  border: 2px solid #434CCC;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
}
.Dlastsection_of_todays-work #Dgridbox1 .Dgirdboxinsta .Dinstagram_img img {
  height: 18px;
  width: 18px;
}
.Dlastsection_of_todays-work #Dgridbox1 .Dgirdboxinsta > p {
  height: 24px;
  width: 114px;
}

@media screen and (max-width: 370px) {
  .Dbigdiv {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .Dbigdiv .Dbigdiv_firstbox {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    margin: 0;
  }
  .Dbigdiv .Dbigdiv_firstbox h5 {
    width: 100%;
    height: auto;
    align-self: start;
  }
  .Dbigdiv .Dbigdiv_firstbox h2 {
    width: 100%;
    height: auto;
    align-self: start;
  }
  .Dbigdiv .Dbigdiv_firstbox p {
    width: 100%;
    height: auto;
    align-self: start;
  }
  .Dbigdiv .Dbigdiv_firstbox button {
    margin-bottom: 80px;
  }
  .Dbigdiv .Dbigdiv_firstbox .Dlogos_for_big_Div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .Dbigdiv .Dbigdiv_firstbox .Dlogos_for_big_Div #Dgoogle {
    margin-top: 33px;
  }
  .Dbigdiv .Dbigdiv_firstbox .Dlogos_for_big_Div #Dmiddle {
    margin-top: 33px;
  }
  .Dbigdiv .Dbigdiv_firstbox .Dlogos_for_big_Div #Dspotify {
    margin-top: 33px;
  }
  .Dbigdiv .Dbigdiv_firstbox .Dlogos_for_big_Div #Dairbnb {
    margin-top: 33px;
  }
  .Dbigdiv .DSecond_section {
    width: 100%;
    height: auto;
  }
  .Dbigdiv .Dbigdiv_secondbox {
    width: 100%;
    height: auto;
  }
  .Dbigdiv .Dbigdiv_secondbox h5 {
    width: 100%;
    height: auto;
    align-self: start;
  }
  .Dbigdiv .Dbigdiv_secondbox .Dinnersecondbox {
    display: flex;
    flex-direction: column;
  }
  .Dbigdiv .Dbigdiv_secondbox .Dinnersecondbox h2 {
    width: 100%;
    height: auto;
    align-self: start;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
  }
  .Dbigdiv .Dbigdiv_secondbox .Dinnersecondbox button {
    visibility: hidden;
  }
  .Dbigdiv .Dbigdiv_secondbox .Dflexbox {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .Dbigdiv .Dbigdiv_secondbox .Dflexbox .Dflexboxchild1 {
    width: 95%;
    height: auto;
    padding: 10px;
  }
  .Dbigdiv .Dbigdiv_secondbox .Dflexbox .Dflexboxchild1 > img {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .Dbigdiv .Dbigdiv_secondbox .Dflexbox .Dflexboxchild1 > p {
    width: 100%;
    height: auto;
    align-self: start;
  }
  .Dbigdiv .Dbigdiv_secondbox .Dflexbox .Dflexboxchild1 h4 {
    width: 100%;
    height: auto;
    align-self: start;
  }
  .Dbigdiv .Dbigdiv_secondbox .Dflexbox .Dflexboxchild2 {
    width: 95%;
    height: auto;
    padding: 10px;
  }
  .Dbigdiv .Dbigdiv_secondbox .Dflexbox .Dflexboxchild2 > img {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .Dbigdiv .Dbigdiv_secondbox .Dflexbox .Dflexboxchild2 > p {
    width: 100%;
    height: auto;
    align-self: start;
  }
  .Dbigdiv .Dbigdiv_secondbox .Dflexbox .Dflexboxchild2 h4 {
    width: 100%;
    height: auto;
    align-self: start;
  }
  .Dbigdiv .Dlastsection_of_todays-work {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .Dbigdiv .Dlastsection_of_todays-work .Dgrid {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .Dbigdiv .Dlastsection_of_todays-work .Dgrid .Dgridbox img {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .Dbigdiv .Dlastsection_of_todays-work #Dgridbox1 h5 {
    margin-top: 62px;
    width: 100%;
    height: auto;
    align-self: start;
  }
  .Dbigdiv .Dlastsection_of_todays-work #Dgridbox1 h4 {
    margin-top: 33px;
    width: 100%;
    height: auto;
    align-self: start;
  }
}
@media all and (max-width: 374px) {
  .Dfirstboxdee {
    height: 848px;
    width: 375px;
    background: #434CCC;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Dfirstboxdee .Dless_greater_sign {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    top: 165px;
    left: -210px;
  }
  .Dfirstboxdee .Dless_greater_sign .Dimgbox {
    height: 48px;
    width: 48px;
    border: 1px solid rgb(234, 232, 232);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 152px;
  }
  .Dfirstboxdee .Dless_greater_sign img {
    height: 21px;
    width: 13px;
  }
  .Dfirstboxdee .Dladiesimg {
    height: 270px;
    width: 270px;
    margin-left: 80px;
    margin-top: -20px;
  }
  .Dfirstboxdee .Dlastdiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 270px;
    margin-top: 40px;
  }
  .Dfirstboxdee .Dpara1 {
    height: 24px;
    width: 173px;
    color: #FFFFFF;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3em;
    text-align: left;
    margin-left: 73px;
  }
  .Dfirstboxdee .Dpara2 {
    margin-left: 73px;
    height: 264px;
    width: 287px;
    font-family: DM Serif Display;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
  }
  .Dfirstboxdee .Dpara3 {
    margin-left: 73px;
    margin-top: 25px;
    height: 32px;
    width: 125px;
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
  }
  .Dfirstboxdee .Dpara4 {
    margin-left: 73px;
    margin-top: 6px;
    height: 24px;
    width: 53px;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(255, 255, 255, 0.5019607843);
  }
}
.shcontainer {
  width: 1440px;
  height: 768px;
  flex-shrink: 0;
  background-color: #434ccc;
  padding-top: 79px;
  margin: auto;
}
.shcontainer h5 {
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
  color: var(--Text_White, #FFF);
  text-align: center;
}
.shcontainer h2 {
  color: var(--Text_White, #FFF);
  text-align: center;
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  margin-top: 21px;
}
.shcontainer p {
  color: var(--Text_White, #FFF);
  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  width: 570px;
  height: 83px;
  margin: 29px 435px 0px 435px;
}
.shcontainer .overlap {
  width: 1170px;
  height: 512px;
  margin: 52px 135px 0px 135px;
  display: flex;
}
.shcontainer .overlap .overimg {
  background-image: url("Image/lady.png");
  width: 1200px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.shcontainer .overlap .overimg p {
  text-align: start;
  margin-top: 111px;
  margin-left: 135px;
  color: white;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.shcontainer .overlap .overimg h2 {
  text-align: start;
  margin-left: 135px;
  margin-top: -25px;
  color: var(--Text_White, #FFF);
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
  width: 370px;
}
.shcontainer .overlap .overimg img {
  width: 1200px;
  height: 800px;
  flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 5px;
}
.shcontainer .overlap .overimg button {
  margin-left: 135px;
  margin-top: 36px;
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  background: none;
  border: 1px solid white;
  color: white;
}
.shcontainer .shcards {
  margin-top: -16px;
  width: 1440px;
  height: 760px;
  flex-shrink: 0;
  display: flex;
  gap: 31px;
}
.shcontainer .shcards .shcard {
  width: 570px;
  height: 512px;
  background-color: brown;
  margin-top: 128px;
  border-radius: 5px;
}
.shcontainer .shcards .shcard p {
  text-align: start;
  color: white;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-left: 91px;
  margin-top: 79px;
}
.shcontainer .shcards .shcard h4 {
  font-family: DM Serif Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-left: 91px;
  width: 161px;
  height: 96px;
  margin-top: -40px;
  color: white;
}
.shcontainer .shcards .shcard button {
  margin-left: 91px;
  border: 1px solid white;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  margin-top: 24px;
  background: none;
  border-radius: 5px;
}
.shcontainer .shcards #sh1 {
  margin-left: 135px;
  background-image: url("Image/statue.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.shcontainer .shcards #sh2 {
  background-image: url("Image/dog.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.shcontainer .shcards #sh2 h4 {
  width: 147px;
}
.shcontainer #bt {
  margin-left: 635px;
  width: 170px;
  height: 48px;
  border-radius: 5px;
  background: none;
  border: 0.5px solid #434ccc;
  margin-top: -20px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 1440px;
  margin: auto;
  margin-top: 800px;
}

.first {
  display: flex;
}
.first .image {
  width: 50%;
}
.first .text {
  padding: 50px;
}
.first .text .sec {
  display: flex;
}
.first .text h2 {
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  width: 453px;
  height: 128px;
  margin-top: 150px;
}
.first .text p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.first .text .sec1 {
  margin-top: 26px;
}
.first .text .sec2 {
  margin-top: 26px;
}

.second {
  display: flex;
}
.second .text {
  width: 50%;
  background-color: #434ccc;
  color: white;
}
.second .text span {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin-left: 135px;
}
.second .text span h5 {
  margin-top: 64px;
  margin-left: 135px;
}
.second .text h1 {
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  width: 331px;
  margin-top: 21px;
  margin-left: 135px;
}
.second .text p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  width: 470px;
  height: 103px;
  margin-top: 29px;
  margin-left: 135px;
}
.second .text button {
  background-color: #f1b505;
  color: white;
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  border: none;
  border-radius: 5px;
  margin-top: 32px;
  margin-bottom: 64px;
  margin-left: 135px;
}

.third h5 {
  margin-top: 63px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
.third h2 {
  margin-top: 21px;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
}
.third p {
  margin-top: 29px;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 36px;
}
.third .cards {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.third .cards .card1 {
  margin-left: 135px;
}
.third .cards .card {
  width: 370px;
  height: 480px;
  flex-shrink: 0;
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
.third .cards .card img {
  border-radius: 50%;
  margin: 23px 23px 0px 32px;
}
.third .cards .card h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-left: 32px;
  margin-top: 18px;
}
.third .cards .card hr {
  background: black;
  width: 338px;
  height: 1px;
  opacity: 0.1011;
  margin-top: 24px;
}
.third .cards .card p {
  text-align: start;
  margin: 18px 0px 23px 32px;
}
.third .cards .card .detail {
  display: flex;
}
.third .cards .card .detail img {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  margin-left: 23px;
  margin-top: 25px;
}
.third .cards .card .detail .fb {
  margin-left: 174px;
}
.third .cards .card .detail .tw, .third .cards .card .detail .insta {
  margin-left: -13px;
}

.fourth h5 {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin-top: 95px;
}
.fourth h2 {
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  margin-top: 21px;
}
.fourth p {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-top: 29px;
}
.fourth .boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 52px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 112px;
}
.fourth .boxes .box {
  height: 144px;
  border-radius: 5px;
  background: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  display: flex;
}
.fourth .boxes .box img {
  margin-top: 32px;
  margin-left: 32px;
  margin-right: 25px;
  width: 43px;
  height: 49px;
  flex-shrink: 0;
}
.fourth .boxes .box .text {
  width: 238px;
  height: 65px;
  flex-shrink: 0;
}
.fourth .boxes .box .text h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-top: 32px;
}
.fourth .boxes .box .text p {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 7px;
}

@media screen and (max-width: 370px) {
  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .first {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .first .image {
    width: 100%;
  }
  .first .image img {
    width: 100%;
    height: auto;
  }
  .first .text {
    margin-top: -150px;
  }
  .first .text .sec {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .first .text h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    width: 323px;
    height: 96px;
    margin-top: 150px;
    overflow: hidden;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .first .text p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .second {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .second .text {
    width: 100%;
    height: auto;
  }
  .second .text h1 {
    margin-left: 14px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    width: 100%;
    height: auto;
  }
  .second .text p {
    margin-left: 14px;
    margin-right: 15px;
    width: 100%;
    height: auto;
  }
  .second .text span h5 {
    margin-left: 14px;
    width: 100%;
    height: auto;
  }
  .second .text button {
    margin-left: 14px;
  }
  .second .image img {
    width: 100%;
    height: auto;
  }
  .third .cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 20px;
  }
  .third .cards .card1 {
    margin: 0;
  }
  .third .cards .card {
    width: 100%;
    height: auto;
  }
  .third .cards .card img {
    border-radius: 50%;
    width: 80%;
    height: auto;
    margin: 25px 23px 0px 23px;
  }
  .third .cards .card .detail img {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
  }
  .third .cards .card .detail .fb {
    margin-left: 130px;
  }
  .fourth {
    width: 100%;
  }
  .fourth .boxes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .fourth .boxes .box .text {
    height: auto;
  }
  .shcontainer {
    width: 100%;
  }
  .shcontainer h5 {
    margin: 0;
    width: 100%;
    height: auto;
  }
  .shcontainer h2 {
    margin: 0;
    text-align: center;
    width: 100%;
    height: auto;
  }
  .shcontainer p {
    margin: 0;
    text-align: center;
    width: 100%;
    height: auto;
  }
  .shcontainer .overlap {
    width: 100%;
    background-size: cover;
  }
  .shcontainer .overlap .overimg {
    margin-left: -135px;
    width: 100%;
    height: auto;
    background-size: cover;
  }
  .shcontainer .overlap .overimg p {
    margin: 0;
    text-align: start;
    margin-left: 50px;
    width: 100%;
    height: auto;
  }
  .shcontainer .overlap .overimg h2 {
    margin: 0;
    text-align: start;
    margin-left: 50px;
    width: 100%;
    height: auto;
  }
  .shcontainer .overlap .overimg img {
    width: 1200px;
    height: 800px;
    flex-shrink: 0;
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
    border-radius: 5px;
  }
  .shcontainer .overlap .overimg button {
    margin-left: 50px;
  }
  .shcontainer .shcards {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .shcontainer .shcards .shcard {
    width: 100%;
    height: auto;
  }
  .shcontainer .shcards .shcard p {
    margin-left: 30px;
    margin-top: 30px;
    text-align: start;
    width: 100%;
    height: 200px;
  }
  .shcontainer .shcards .shcard h4 {
    margin-top: -160px;
    margin-left: 30px;
  }
  .shcontainer .shcards .shcard button {
    margin-left: 30px;
    margin-bottom: 20px;
  }
  .shcontainer .shcards #sh1 {
    margin: 0;
    margin-top: 10px;
    width: 100%;
    height: auto;
    background-size: cover;
  }
  .shcontainer .shcards #sh2 {
    margin-top: -20px;
    width: 100%;
    height: auto;
  }
}
.Sandesh {
  display: flex;
  width: 1440px;
  height: 656px;
  flex-shrink: 0;
  background-color: #FFDD78;
  margin: auto;
}

.Sandesh_1st {
  width: 50%;
  padding-left: 135px;
  padding-top: 127px;
  padding-bottom: 144px;
}

.Sandesh_2nd {
  width: 50%;
  padding-right: 100px;
  padding-top: 25px;
  /*height: 590px;*/
}

.Sandesh_1st > h5 {
  width: 129px;
  height: 24px;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.Sandesh_1st > h2 {
  width: 419px;
  height: 128px;
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  margin-bottom: 25px;
}

.Sandesh_1st > p {
  width: 470px;
  height: 103px;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 25px;
}

.Sandesh_1st > input {
  width: 270px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #DADADA;
  background: #FFF;
  margin-right: 20px;
}

.Sandesh_1st > button {
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  color: white;
  border-radius: 5px;
  background: var(--Primary_1, #434CCC);
  color: #FFF;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.Sandesh1 {
  display: flex;
  width: 1440px;
  height: 656px;
  flex-shrink: 0;
  background-color: #434CCC;
  margin: auto;
}

.Sandesh1_1st {
  width: 50%;
  margin-top: 100px;
  margin-left: 135px;
}

.Sandesh1_2nd {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 95px;
  padding-bottom: 128px;
}

.Sandesh1_2nd > h5 {
  width: 107px;
  height: 24px;
  color: var(--Text_White, #FFF);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.Sandesh1_2nd > h2 {
  width: 268px;
  height: 64px;
  color: var(--Text_White, #FFF);
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  margin-bottom: 50px;
}

.Sandesh1_2nd > input {
  width: 470px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #DADADA;
  background: #FFF;
  margin-bottom: 30px;
}

.Sandesh1_2nd > textarea {
  width: 470px;
  height: 124px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #DADADA;
  background: #FFF;
  margin-bottom: 50px;
}

.Sandesh1_2nd > button {
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--Primary_2, #F1B505);
  color: #FFF;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

/*footer*/
.footer2nd {
  width: 1440px;
  height: 322px;
  padding: 0%;
  margin: 0%;
  background: rgb(245, 246, 252);
  margin: auto;
}

.footer2ndpart {
  width: 80%;
  display: grid;
  padding-top: 5%;
  padding-bottom: 4%;
  grid-template-areas: "fir sec thir fou" "fir sec thir fou";
  justify-content: space-around;
  margin: auto;
  gap: 12%;
}
.footer2ndpart p {
  margin-top: 13px;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}
.footer2ndpart .footer2ndpart div:nth-child(1) {
  grid-area: fir;
}
.footer2ndpart .footer2ndpart div:nth-child(2) {
  grid-area: sec;
}
.footer2ndpart .footer2ndpart div:nth-child(3) {
  grid-area: thir;
}
.footer2ndpart .footer2ndpart div:nth-child(4) {
  grid-area: fou;
}
.footer2ndpart .social-media {
  margin-top: 32px;
}
.footer2ndpart .social-media > img {
  margin-right: 10px;
}

.outerconform {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.conform {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  align-items: center;
}
.conform img {
  border-radius: 10px;
  height: 48px;
  width: 71px;
  flex-shrink: 0px;
}
.conform p {
  color: rgb(168, 169, 173);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: -5px;
  /* 150% */
}
.conform #data1 {
  color: #000;
  /* Text_Small */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 200% */
}
.conform #data2 {
  color: #000;
  /* Text_Small */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 200% */
}

#horizontal {
  width: 94.7%;
  margin-top: -50px;
  position: relative;
  top: 50px;
}

h4 {
  color: rgb(15, 15, 15);
  font-family: DM Serif Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 400px;
  line-height: 32px;
  height: 32px;
  width: 62px;
}

.footer2ndpart > div > p {
  color: rgb(168, 169, 173);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.footer2ndpart > div > h5 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400px;
  line-height: 24px;
  /* 150% */
}

@media (max-width: 375px) {
  .footer2nd {
    width: 107%;
    height: 720px;
    padding: 0%;
    margin: 0%;
    background: rgb(245, 246, 252);
    margin-left: -25px;
  }
  .footer2ndpart {
    width: 80%;
    display: grid;
    padding-top: 2%;
    padding-bottom: 2%;
    grid-template-areas: "fir fir" "sec thir" "fou  fou";
    margin: auto;
    gap: 1%;
  }
  .footer2ndpart h4 {
    margin-top: 65px;
  }
  .footer2ndpart p {
    margin-top: 10px;
  }
  .footer2ndpart .social-media {
    margin-top: 38px;
  }
  .footer2ndpart #list_item {
    display: flex;
    flex-direction: column;
    margin-top: 79px;
  }
  .footer2ndpart #list_item p {
    margin-top: 8px;
  }
  .footer2ndpart .conform {
    margin-top: 39px;
  }
  .footer2ndpart .conform img {
    margin-top: -15px;
  }
  .footer2ndpart #conform2 {
    position: relative;
    top: -110px;
  }
  .footer2ndpart div:nth-child(1) {
    grid-area: fir;
  }
  .footer2ndpart div:nth-child(2) {
    grid-area: sec;
  }
  .footer2ndpart div:nth-child(3) {
    grid-area: thir;
  }
  .footer2ndpart div:nth-child(4) {
    grid-area: fou;
  }
  .social-media > img {
    margin-right: 10px;
  }
}
hr {
  width: 94.7%;
  margin: 50px auto;
}

.lastpart {
  width: 94.7%;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(245, 246, 252);
}
.lastpart p {
  color: rgb(168, 169, 173);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.lastpart #para1 {
  margin-left: 10%;
}
.lastpart #para2 {
  margin-right: 10%;
}

@media (max-width: 375px) {
  .lastpart {
    width: 100%;
    display: block;
  }
  .lastpart p {
    color: rgb(168, 169, 173);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .lastpart #para2 {
    margin-left: 10%;
  }
  .Sandesh {
    display: flex;
    width: 130%;
    height: auto;
    flex-direction: column;
    margin: 0px;
  }
  .Sandesh_1st {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-left: -135px;
  }
  .Sandesh_1st > h5 {
    width: 129px;
    height: 24px;
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 4.8px;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-left: -130px;
    margin-top: -30px;
  }
  .Sandesh_1st > h2 {
    width: 419px;
    height: 128px;
    font-family: DM Serif Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    margin-bottom: 25px;
    margin-left: -130px;
    margin-top: -30px;
  }
  .Sandesh_1st > p {
    width: 470px;
    height: 103px;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 25px;
    margin-left: -130px;
    margin-top: -30px;
  }
  .Sandesh_1st > input {
    width: 270px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #DADADA;
    background: #FFF;
    margin-right: 20px;
    margin-left: -130px;
    margin-top: -30px;
  }
  .Sandesh_1st > button {
    width: 170px;
    height: 48px;
    flex-shrink: 0;
    color: white;
    border-radius: 5px;
    background: var(--Primary_1, #434CCC);
    color: #FFF;
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-left: -130px;
    margin-top: 20px;
  }
  .Sandesh_2nd {
    width: 100%;
    height: auto;
    padding-right: 10px;
    padding-top: 10px;
    /*height: 590px;*/
  }
  .Sandesh_2nd > img {
    width: 120%;
    margin-left: -120px;
    margin-top: -150px;
  }
  .Sandesh1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0px;
  }
  .Sandesh1_1st {
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-left: 35px;
  }
  .Sandesh1_1st img {
    width: 80%;
  }
  .Sandesh1_2nd {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 95px;
    padding-bottom: 128px;
  }
  .Sandesh1_2nd > h5 {
    width: 107px;
    height: 24px;
    color: var(--Text_White, #FFF);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 4.8px;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-left: 15px;
  }
  .Sandesh1_2nd > h2 {
    width: 268px;
    height: 64px;
    color: var(--Text_White, #FFF);
    font-family: DM Serif Display;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    margin-bottom: 50px;
    margin-left: 15px;
  }
  .Sandesh1_2nd > input {
    width: 180%;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #DADADA;
    background: #FFF;
    margin-bottom: 30px;
    margin-left: 15px;
  }
  .Sandesh1_2nd > textarea {
    width: 180%;
    height: 124px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #DADADA;
    background: #FFF;
    margin-bottom: 50px;
    margin-left: 15px;
  }
  .Sandesh1_2nd > button {
    width: 170px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--Primary_2, #F1B505);
    color: #FFF;
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-left: 15px;
  }
  #horizontal {
    margin-top: -45px;
  }
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=main.css.map */