.Ahead {
  width: 1440px;
  height: 768px;
  margin: auto;
  flex-shrink: 0;
  background-color: #434CCC;
}

.Ahead1 {
  width: 1140px;
  height: 80px;
}

.Ahead1 > .Anavbar {
  max-width: 1440px;
  height: 80px;
  background-color: #434ccc;
  display: flex;
  align-items: center;
}

.Anavbar img {
  width: 95px;
  height: 28px;
  position: absolute;
  margin-left: 135px;
}

.Anavbar > .Aportfolio {
  width: 324px;
  height: 24px;
  position: absolute;
  left: 771px;
  display: flex;
  justify-content: space-between;
}

.Aportfolio a {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
}

.Anavbtn {
  font-family: "DM Sans", sans-serif;
  width: 170px;
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  border-radius: 1px;
  position: absolute;
  margin-left: 1135px;
  letter-spacing: 0px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  background-color: #434ccc;
  color: #ffffff;
}

.Ahead2 {
  width: 1170px;
  height: 515px;
  display: flex;
  margin-left: 135px;
  /* background-color: red; */
  /* border: 1px solid black; */
}

.Apart1 {
  height: 510px;
  width: 515px;
  /* background-color: black; */
}

.Apart1 h5 {
  color: var(--Text_White, #FFF);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  padding-top: 79px;
}

.Apart1 h1 {
  color: var(--Text_White, #FFF);
  font-family: DM Serif Display;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  padding-top: 24px;
}

.Apart1 p {
  color: var(--Text_White, #FFF);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  padding-top: 32px;
}

.Apart1 > div {
  padding-top: 41px;
}

.Apart1 > div > .Abtn {
  color: #FFF;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--Primary_2, #F1B505);
}

.Apart2 {
  width: 655px;
  height: 515px;
  /* border:1px solid red ; */
  padding-top: 110px;
}

.Apart2 img {
  width: 150%;
  height: 650px;
  position: relative;
  top: -100px;
  right: 190px;
}

/* div2 */
.Amid {
  width: 1440px;
  height: 768px;
  margin: auto;
  flex-shrink: 0;
  background-color: #FFDD78;
}

.Afirst h2 {
  color: var(--Text_Black, #000);
  text-align: center;
  padding-top: 60px;
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
}

.Afirst p {
  padding-top: 25px;
  color: var(--Text_Black, #000);
  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.Asec {
  width: 1440px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-left: 135px;
  gap: 30px;
  /* justify-content: space-evenly; */
  padding-top: 40px;
}

.Asec > .Acard {
  width: 370px;
  height: 416px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.Acard > div {
  padding-top: 64px;
  padding-left: 119px;
}

.Acard > div img {
  width: 132px;
  height: 114px;
  flex-shrink: 0;
}

.Acard h4 {
  color: var(--Text_Black, #000);
  padding-top: 45px;
  padding-left: 30px;
  /* H4 */
  font-family: DM Serif Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.Acard p {
  color: gray;
  font-family: DM Sans;
  font-size: 16px;
  padding-top: 15px;
  padding-left: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.Acard > .Adiv2 {
  padding-left: 32px;
  padding-top: 15px;
}

.Aline {
  width: 338px;
  height: 1px;
  flex-shrink: 0;
  opacity: 0.1011;
  background: #000;
  display: inline-block;
}

.Acard > h6 {
  color: var(--Text_Black, #000);
  padding-top: 14px;
  padding-left: 32px;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.Alast {
  width: 1440px;
  height: 1328px;
  flex-shrink: 0;
  margin: auto;
  background-color: whitesmoke;
}

* {
  margin: 0px;
  padding: 0px;
}

.Dfirstboxdee {
  height: 496px;
  width: 1440px;
  background: #434CCC;
  margin: auto;
  display: flex;
  align-items: center;
}
.Dfirstboxdee .Dless_greater_sign {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.Dfirstboxdee .Dless_greater_sign .Dimgbox {
  height: 48px;
  width: 48px;
  border: 1px solid rgb(234, 232, 232);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 152px;
}
.Dfirstboxdee .Dless_greater_sign img {
  height: 21px;
  width: 13px;
}
.Dfirstboxdee .Dladiesimg {
  height: 270px;
  width: 270px;
  margin-left: 132px;
}
.Dfirstboxdee .Dlastdiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 270px;
}
.Dfirstboxdee .Dpara1 {
  height: 24px;
  width: 173px;
  color: #FFFFFF;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3em;
  text-align: left;
  margin-left: 98px;
}
.Dfirstboxdee .Dpara2 {
  margin-left: 98px;
  height: 107px;
  width: 670px;
  font-family: DM Serif Display;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
}
.Dfirstboxdee .Dpara3 {
  margin-left: 98px;
  height: 32px;
  width: 125px;
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
}
.Dfirstboxdee .Dpara4 {
  margin-left: 98px;
  height: 24px;
  width: 53px;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(255, 255, 255, 0.5019607843);
}

.Dbigdiv {
  height: 1904px;
  width: 1440px;
  margin: auto;
}
.Dbigdiv .Dbigdiv_firstbox {
  width: 1440px;
  height: 624px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgb(222, 222, 222);
}
.Dbigdiv .Dbigdiv_firstbox h5 {
  width: 124px;
  height: 23px;
  text-align: center;
  /* H5 */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin-top: 79px;
}
.Dbigdiv .Dbigdiv_firstbox h2 {
  height: 64px;
  width: 329px;
  color: var(--Text_Black, #000);
  text-align: center;
  /* H2 */
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  /* 114.286% */
  margin-top: 21px;
}
.Dbigdiv .Dbigdiv_firstbox p {
  height: 83px;
  width: 570px;
  flex-shrink: 0;
  color: var(--Text_Black, #000);
  text-align: center;
  /* Text_Big */
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 160% */
  margin-top: 29px;
}
.Dbigdiv .Dbigdiv_firstbox button {
  height: 48px;
  width: 170px;
  border: 0.1px solid #8b91ec;
  margin-top: 72px;
  flex-shrink: 0;
  border-radius: 5px;
  color: #434CCC;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  font-family: sans-serif;
  background-color: white;
}
.Dbigdiv .Dbigdiv_firstbox .Dlogos_for_big_Div {
  height: 54px;
  width: 1168px;
  margin-top: 55px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.Dbigdiv .Dbigdiv_firstbox .Dlogos_for_big_Div #Dfacebook {
  height: 35px;
  width: 172px;
}
.Dbigdiv .Dbigdiv_firstbox .Dlogos_for_big_Div #Dgoogle {
  height: 54px;
  width: 164px;
}
.Dbigdiv .Dbigdiv_firstbox .Dlogos_for_big_Div #Dmiddle {
  height: 53px;
  width: 368px;
}
.Dbigdiv .Dbigdiv_firstbox .Dlogos_for_big_Div #Dspotify {
  height: 53px;
  width: 173px;
}
.Dbigdiv .Dbigdiv_firstbox .Dlogos_for_big_Div #Dairbnb {
  height: 53px;
  width: 168px;
}
.Dbigdiv .DSecond_section {
  height: 715px;
  width: 1440;
  border-bottom: 1px solid rgb(222, 222, 222);
}
.Dbigdiv .Dbigdiv_secondbox {
  height: 715px;
  width: 1168px;
  margin: auto;
}
.Dbigdiv .Dbigdiv_secondbox h5 {
  width: 78px;
  height: 24px;
  color: var(--Text_Black, #000);
  /* H5 */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin-top: 62px;
}
.Dbigdiv .Dbigdiv_secondbox .Dinnersecondbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Dbigdiv .Dbigdiv_secondbox .Dinnersecondbox h2 {
  height: 64px;
  width: 396px;
  color: var(--Text_Black, #000);
  /* H2 */
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  /* 114.286% */
  margin-top: 21px;
}
.Dbigdiv .Dbigdiv_secondbox .Dinnersecondbox button {
  height: 48px;
  width: 170px;
  flex-shrink: 0;
  border-radius: 5px;
  color: #434CCC;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  font-family: sans-serif;
}
.Dbigdiv .Dbigdiv_secondbox .Dflexbox {
  height: 480px;
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
}
.Dbigdiv .Dbigdiv_secondbox .Dflexbox .Dflexboxchild1 {
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  height: 500px;
  width: 570px;
}
.Dbigdiv .Dbigdiv_secondbox .Dflexbox .Dflexboxchild1 > img {
  height: 300px;
  width: 519px;
  border: 2px solid green;
  margin-left: 25px;
  margin-top: 24px;
  flex-shrink: 0;
}
.Dbigdiv .Dbigdiv_secondbox .Dflexbox .Dflexboxchild1 > p {
  height: 24px;
  width: 93px;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  margin-left: 25px;
  margin-top: 17px;
}
.Dbigdiv .Dbigdiv_secondbox .Dflexbox .Dflexboxchild1 > h4 {
  height: 32px;
  width: 320px;
  margin-left: 25px;
  margin-top: 17px;
  color: var(--Text_Black, #000);
  /* H4 */
  font-family: serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
  /* 133.333% */
}
.Dbigdiv .Dbigdiv_secondbox .Dflexbox .Dflexboxchild1 > hr {
  margin-left: 25px;
  margin-top: 17px;
}
.Dbigdiv .Dbigdiv_secondbox .Dflexbox .Dflexboxchild2 {
  height: 500px;
  width: 570px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
.Dbigdiv .Dbigdiv_secondbox .Dflexbox .Dflexboxchild2 > img {
  height: 300px;
  width: 519px;
  border: 2px solid green;
  margin-left: 25px;
  margin-top: 24px;
  flex-shrink: 0;
}
.Dbigdiv .Dbigdiv_secondbox .Dflexbox .Dflexboxchild2 > p {
  height: 24px;
  width: 93px;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  margin-left: 25px;
  margin-top: 17px;
}
.Dbigdiv .Dbigdiv_secondbox .Dflexbox .Dflexboxchild2 > h4 {
  height: 32px;
  width: 320px;
  margin-left: 25px;
  margin-top: 17px;
  color: var(--Text_Black, #000);
  /* H4 */
  font-family: serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
  /* 133.333% */
}
.Dbigdiv .Dbigdiv_secondbox .Dflexbox .Dflexboxchild2 > hr {
  margin-left: 25px;
  margin-top: 17px;
}
.Dbigdiv .Dbigdiv_secondbox .Dflexbox .Dsecond_box {
  display: flex;
  align-items: center;
}
.Dbigdiv .Dbigdiv_secondbox .Dflexbox .Dsecond_box > p {
  height: 24px;
  width: 88px;
  margin-left: 25px;
  color: var(--Text_Black, #000);
  /* Text */
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  /* 150% */
  margin-top: 18px;
}
.Dbigdiv .Dbigdiv_secondbox .Dflexbox .Dsecond_box > img {
  height: 11px;
  width: 6px;
  flex-shrink: 0;
  color: #000000;
  margin-top: 3px;
  margin-left: 7px;
  margin-top: 18px;
}

.Dlastsection_of_todays-work {
  height: 494px;
  width: 1168px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Dlastsection_of_todays-work .Dgrid {
  height: 272px;
  width: 1168px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.Dlastsection_of_todays-work #Dgridbox1 h5 {
  height: 24px;
  width: 92px;
  color: #000000;
  /* H5 */
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
.Dlastsection_of_todays-work #Dgridbox1 h4 {
  height: 96px;
  width: 275px;
  color: #000000;
  /* H4 */
  font-family: sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  /* 133.333% */
  margin-top: 33px;
}
.Dlastsection_of_todays-work #Dgridbox1 .Dgirdboxinsta {
  display: flex;
  align-items: center;
}
.Dlastsection_of_todays-work #Dgridbox1 .Dgirdboxinsta p {
  margin-top: 53px;
  margin-left: 20px;
}
.Dlastsection_of_todays-work #Dgridbox1 .Dgirdboxinsta .Dinstagram_img {
  height: 48px;
  width: 48px;
  border: 2px solid #434CCC;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
}
.Dlastsection_of_todays-work #Dgridbox1 .Dgirdboxinsta .Dinstagram_img img {
  height: 18px;
  width: 18px;
}
.Dlastsection_of_todays-work #Dgridbox1 .Dgirdboxinsta > p {
  height: 24px;
  width: 114px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 1440px;
  margin: auto;
  margin-top: 800px;
}

.first {
  display: flex;
}
.first .image {
  width: 50%;
}
.first .text {
  padding: 50px;
}
.first .text .sec {
  display: flex;
}
.first .text h2 {
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  width: 453px;
  height: 128px;
  margin-top: 150px;
}
.first .text p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.first .text .sec1 {
  margin-top: 26px;
}
.first .text .sec2 {
  margin-top: 26px;
}

.second {
  display: flex;
}
.second .text {
  width: 50%;
  background-color: #434ccc;
  color: white;
}
.second .text span {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin-left: 135px;
}
.second .text span h5 {
  margin-top: 64px;
  margin-left: 135px;
}
.second .text h1 {
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  width: 331px;
  margin-top: 21px;
  margin-left: 135px;
}
.second .text p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  width: 470px;
  height: 103px;
  margin-top: 29px;
  margin-left: 135px;
}
.second .text button {
  background-color: #f1b505;
  color: white;
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  border: none;
  border-radius: 5px;
  margin-top: 32px;
  margin-bottom: 64px;
  margin-left: 135px;
}

.third h5 {
  margin-top: 63px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
.third h2 {
  margin-top: 21px;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
}
.third p {
  margin-top: 29px;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 36px;
}
.third .cards {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.third .cards .card1 {
  margin-left: 135px;
}
.third .cards .card {
  width: 370px;
  height: 480px;
  flex-shrink: 0;
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
.third .cards .card img {
  border-radius: 50%;
  margin: 23px 23px 0px 32px;
}
.third .cards .card h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-left: 32px;
  margin-top: 18px;
}
.third .cards .card hr {
  background: black;
  width: 338px;
  height: 1px;
  opacity: 0.1011;
  margin-top: 24px;
}
.third .cards .card p {
  text-align: start;
  margin: 18px 0px 23px 32px;
}
.third .cards .card .detail {
  display: flex;
}
.third .cards .card .detail img {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  margin-left: 23px;
  margin-top: 25px;
}
.third .cards .card .detail .fb {
  margin-left: 174px;
}
.third .cards .card .detail .tw, .third .cards .card .detail .insta {
  margin-left: -13px;
}

.fourth h5 {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin-top: 95px;
}
.fourth h2 {
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  margin-top: 21px;
}
.fourth p {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-top: 29px;
}
.fourth .boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 52px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 112px;
}
.fourth .boxes .box {
  height: 144px;
  border-radius: 5px;
  background: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  display: flex;
}
.fourth .boxes .box img {
  margin-top: 32px;
  margin-left: 32px;
  margin-right: 25px;
  width: 43px;
  height: 49px;
  flex-shrink: 0;
}
.fourth .boxes .box .text {
  width: 238px;
  height: 65px;
  flex-shrink: 0;
}
.fourth .boxes .box .text h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-top: 32px;
}
.fourth .boxes .box .text p {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 7px;
}

@media screen and (max-width: 370px) {
  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .first {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .first .image {
    width: 100%;
  }
  .first .image img {
    width: 100%;
    height: auto;
  }
  .first .text {
    margin-top: -150px;
  }
  .first .text .sec {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .first .text h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    width: 323px;
    height: 96px;
    margin-top: 150px;
    overflow: hidden;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .first .text p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .second {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .second .text {
    width: 100%;
    height: auto;
  }
  .second .text h1 {
    margin-left: 14px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    width: 100%;
    height: auto;
  }
  .second .text p {
    margin-left: 14px;
    margin-right: 15px;
    width: 100%;
    height: auto;
  }
  .second .text span h5 {
    margin-left: 14px;
    width: 100%;
    height: auto;
  }
  .second .text button {
    margin-left: 14px;
  }
  .second .image img {
    width: 100%;
    height: auto;
  }
  .third .cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 20px;
  }
  .third .cards .card1 {
    margin: 0;
  }
  .third .cards .card {
    width: 100%;
    height: auto;
  }
  .third .cards .card img {
    border-radius: 50%;
    width: 80%;
    height: auto;
    margin: 25px 23px 0px 23px;
  }
  .third .cards .card .detail img {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
  }
  .third .cards .card .detail .fb {
    margin-left: 130px;
  }
  .fourth {
    width: 100%;
  }
  .fourth .boxes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .fourth .boxes .box .text {
    height: auto;
  }
}
.Sandesh {
  display: flex;
  width: 1440px;
  height: 656px;
  flex-shrink: 0;
  background-color: #FFDD78;
  margin: auto;
}

.Sandesh_1st {
  width: 50%;
  padding-left: 135px;
  padding-top: 127px;
  padding-bottom: 144px;
}

.Sandesh_1st > h5 {
  width: 129px;
  height: 24px;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

.Sandesh_1st > h2 {
  width: 419px;
  height: 128px;
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
}

.Sandesh_1st > p {
  width: 470px;
  height: 103px;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.Sandesh_1st > input {
  width: 270px;
  height: 48px;
  flex-shrink: 0;
}

.Sandesh_1st > button {
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  background-color: #434CCC;
  color: white;
}

.Sandesh_2nd {
  width: 50%;
  padding-right: 100px;
  padding-top: 75px;
  /*height: 590px;*/
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=main.css.map */