body {
  font-family: Serif Display;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
}

.first {
  display: flex;
}
.first .image {
  width: 50%;
  height: 729px;
  flex-shrink: 0;
}
.first .text {
  height: 128px;
  padding: 10px;
}
.first .text #para {
  width: 500px;
}
.first .text img {
  width: 50px;
  height: 40px;
  flex-shrink: 0;
}
.first .text h2 {
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  width: 453px;
  height: 128px;
  margin-top: 150px;
}
.first .text p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.first .text .sec {
  width: 550px;
  display: flex;
}
.first .text .sec .sec1 {
  width: 200px;
}
.first .text .sec .sec2 {
  width: 200px;
  margin-left: 150px;
}

.second {
  height: 656px;
  display: flex;
  flex-shrink: 0;
  background: #434CCC;
}
.second .image {
  width: 720px;
}
.second .image img {
  width: 703px;
  height: 656px;
  flex-shrink: 0;
}
.second .content {
  width: 720px;
}
.second .content .text {
  width: 470px;
  color: white;
  margin: 0 auto;
  margin-top: 127px;
}
.second .content .text h1 {
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  width: 331px;
}
.second .content .text p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.second .content .text button {
  background-color: #f1b505;
  color: white;
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  border: none;
  border-radius: 5px;
}

.third h5 {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
.third h2 {
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
}
.third p {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-top: -25px;
  margin-bottom: 36px;
}
.third .cards {
  display: flex;
  gap: 20px;
}
.third .cards .card {
  width: 370px;
  height: 480px;
  flex-shrink: 0;
  margin: 0 auto;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
.third .cards .card img {
  border-radius: 50%;
  margin: 23px 23px 0px 32px;
}
.third .cards .card h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-left: 32px;
}
.third .cards .card hr {
  background: black;
  width: 338px;
  height: 1px;
  opacity: 0.1011;
}
.third .cards .card p {
  text-align: start;
  margin: 0px 0px 23px 32px;
}
.third .cards .card .detail {
  display: flex;
}
.third .cards .card .detail img {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  margin-left: 23px;
  margin-top: 13px;
  margin-bottom: 24px;
}
.third .cards .card .detail .fb {
  margin-left: 174px;
}
.third .cards .card .detail .tw, .third .cards .card .detail .insta {
  margin-left: -13px;
}

.fourth h5 {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin-top: 95px;
}
.fourth h2 {
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  margin-top: -25px;
}
.fourth p {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-top: -17px;
}
.fourth .boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 112px;
}
.fourth .boxes .box {
  height: 144px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  display: flex;
}
.fourth .boxes .box img {
  margin-top: 32px;
  margin-left: 32px;
  margin-right: 25px;
  width: 43px;
  height: 49px;
  flex-shrink: 0;
}
.fourth .boxes .box .text {
  width: 238px;
  height: 65px;
  flex-shrink: 0;
  margin-top: -20px;
  text-align: start;
}
.fourth .boxes .box .text h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.fourth .boxes .box .text p {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: -20px;
  align-self: self-start;
}

@media screen and (max-width: 480px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .first {
    display: flex;
    flex-direction: column;
  }
  .second {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
